In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
data_dir = 'C:/Users/nsd96/Desktop/빅콘테스트/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분'

In [3]:
data_list = os.listdir(data_dir)
print(len(data_list))
print(data_list)

40
['2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2016.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2017.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2018.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2019.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2020.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2017.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2018.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2019.csv', '2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2020.csv', '2020빅콘테스트_스포츠투아이_제공데이터_경기_2016.csv', '2020빅콘테스트_스포츠투아이_제공데이터_경기_2017.csv', '2020빅콘테스트_스포츠투아이_제공데이터_경기_2018.csv', '2020빅콘테스트_스포츠투아이_제공데이터_경기_2019.csv', '2020빅콘테스트_스포츠투아이_제공데이터_경기_2020.csv', '2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2016.csv', '2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2017.csv', '2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2018.csv', '2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2019.csv', '2020빅콘테스트_스포츠투아이_제공데이터_등록선수_2020.csv', '2020빅콘테스트_스포츠투아이_제공데이터_선수_2016.csv', '2020빅콘테스트_스포츠투아이_제공데이터_선수_2017.csv', '2020빅콘테스트_스포츠투아이_제공데이터_선수_2018.csv', '2020빅콘테스트_스포츠투아이_제공데이터_선수_2019.csv', '2020빅콘테스트_스포츠투아이_제공데이터_선수_2020.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀_2016.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀_2017.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀_2018.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀_2019.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀_2020.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv', '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv']

In [4]:
#년도별 저장
data_list_2016 = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-1].startswith('2016') ]
data_2016 = [pd.read_csv(os.path.join(data_dir,data_list_2016[x]),encoding='cp949') for x in range(len(data_list_2016))]
data_list_2017 = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-1].startswith('2017') ]
data_2017 = [pd.read_csv(os.path.join(data_dir,data_list_2017[x]),encoding='cp949') for x in range(len(data_list_2017))]
data_list_2018 = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-1].startswith('2018') ]
data_2018 = [pd.read_csv(os.path.join(data_dir,data_list_2018[x]),encoding='cp949') for x in range(len(data_list_2018))]
data_list_2019 = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-1].startswith('2019') ]
data_2019 = [pd.read_csv(os.path.join(data_dir,data_list_2019[x]),encoding='cp949') for x in range(len(data_list_2019))]
data_list_2020 = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-1].startswith('2020') ]
data_2020 = [pd.read_csv(os.path.join(data_dir,data_list_2020[x]),encoding='cp949') for x in range(len(data_list_2020))]
print('2020년 데이터: \n', data_2020)

#항목별 저장
data_list_single_hitter = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-2].startswith('개인타자')]
data_single_hitter = [pd.read_csv(os.path.join(data_dir, data_list_single_hitter[x]), encoding='cp949') for x in range(len(data_list_single_hitter))]
data_list_single_pitcher = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-2].startswith('개인투수')]
data_single_pitcher = [pd.read_csv(os.path.join(data_dir, data_list_single_pitcher[x]), encoding='cp949') for x in range(len(data_list_single_pitcher))]
data_list_games = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-2].startswith('경기')]
data_games = [pd.read_csv(os.path.join(data_dir, data_list_games[x]), encoding='cp949') for x in range(len(data_list_games))]
data_list_player_enroll = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-2].startswith('등록선수')]
data_player_enroll = [pd.read_csv(os.path.join(data_dir, data_list_player_enroll[x]), encoding='cp949') for x in range(len(data_list_player_enroll))]
data_list_players = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-2].startswith('선수')]
data_players = [pd.read_csv(os.path.join(data_dir, data_list_players[x]), encoding='cp949') for x in range(len(data_list_players))]
data_list_teams = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-2].startswith('팀')]
data_teams = [pd.read_csv(os.path.join(data_dir, data_list_teams[x]), encoding='cp949') for x in range(len(data_list_teams))]
data_list_team_hitter = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-2].startswith('팀타자')]
data_team_hitter = [pd.read_csv(os.path.join(data_dir, data_list_team_hitter[x]), encoding='cp949') for x in range(len(data_list_team_hitter))]
data_list_team_pitcher = [data_list[x] for x in range(len(data_list)) if data_list[x].split('_')[-2].startswith('팀투수')]
data_team_pitcher = [pd.read_csv(os.path.join(data_dir, data_list_team_pitcher[x]), encoding='cp949') for x in range(len(data_list_team_pitcher))]
print('팀투수 데이터:\n', data_team_pitcher)

2020년 데이터:
 [               G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC   P_ID  START_CK  \
0     20200505HHSK0  20200505   HH      SK          0     T  61208         1
1     20200505HHSK0  20200505   SK      HH          0     B  61353         1
2     20200505HHSK0  20200505   HH      SK          0     T  62700         1
3     20200505HHSK0  20200505   SK      HH          0     B  62895         1
4     20200505HHSK0  20200505   SK      HH          0     B  63450         1
...             ...       ...  ...     ...        ...   ...    ...       ...
8055  20200719WOSK0  20200719   SK      WO          0     B  75847         1
8056  20200719WOSK0  20200719   SK      WO          0     B  76802         1
8057  20200719WOSK0  20200719   SK      WO          0     B  77463         0
8058  20200719WOSK0  20200719   WO      SK          0     T  78168         1
8059  20200719WOSK0  20200719   WO      SK          0     T  79456         1

      BAT_ORDER_NO  PA  ...  BB  IB  HP  KK  GD  ERR  LOB  P_HRA_RT  P_AB_CN  \
0                7   4  ...   0   0   0   0   0    0    0       0.0        1
1                2   4  ...   0   0   0   0   0    0    1       0.0        0
2                9   3  ...   0   0   0   1   1    0    1       0.5        2
3                5   3  ...   0   0   0   1   0    0    0       0.0        1
4                9   2  ...   0   0   0   1   0    0    0       0.0        0
...            ...  ..  ...  ..  ..  ..  ..  ..  ...  ...       ...      ...
8055             3   4  ...   0   0   0   1   0    0    1       0.0        1
8056             9   4  ...   1   0   0   0   0    0    4       1.0        1
8057             6   1  ...   1   0   0   0   0    0    0       0.0        0
8058             1   5  ...   0   0   0   0   1    0    0       0.0        1
8059             6   4  ...   0   0   0   0   0    0    0       0.0        0

      P_HIT_CN
0            0
1            0
2            1
3            0
4            0
...        ...
8055         0
8056         1
8057         0
8058         0
8059         0

[8060 rows x 31 columns],                G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC   P_ID  START_CK  \
0     20200505HHSK0  20200505   SK      HH          0     B  50815         1
1     20200505HHSK0  20200505   SK      HH          0     B  63894         0
2     20200505HHSK0  20200505   HH      SK          0     T  69744         1
3     20200505HHSK0  20200505   SK      HH          0     B  76350         0
4     20200505LTKT0  20200505   KT      LT          0     B  50040         1
...             ...       ...  ...     ...        ...   ...    ...       ...
2882  20200719WOSK0  20200719   WO      SK          0     T  67313         1
2883  20200719WOSK0  20200719   WO      SK          0     T  67391         0
2884  20200719WOSK0  20200719   WO      SK          0     T  68341         0
2885  20200719WOSK0  20200719   WO      SK          0     T  69399         0
2886  20200719WOSK0  20200719   SK      WO          0     B  75138         0

      RELIEF_CK  CG_CK  ...  KK GD  WP  BK  ERR  R  ER  P_WHIP_RT  P2_WHIP_RT  \
0             0      0  ...   4  1   0   0    0  3   3        2.0    1.200000
1             1      0  ...   1  0   0   0    0  0   0        0.0    0.000000
2             0      1  ...   2  0   0   0    0  0   0        0.0    0.000000
3             1      0  ...   0  0   0   0    0  0   0        0.0    0.000000
4             0      0  ...   8  1   0   0    0  1   1        0.0    0.666667
...         ...    ...  ...  .. ..  ..  ..  ... ..  ..        ...         ...
2882          0      0  ...   7  0   1   0    0  0   0        0.0    1.000000
2883          1      0  ...   1  0   0   0    0  0   0        0.0    0.000000
2884          1      0  ...   2  0   1   0    0  4   4        0.0    0.000000
2885          1      0  ...   0  0   0   0    0  0   0        3.0    3.000000
2886          1      0  ...   0  0   0   0    0  0   0        0.0    0.000000

      CB_WHIP_RT
0       0.857143
1       1.500000
2       0.750000
3       0.000000
4       1.000000
...          ...
2882    2.250000
2883    0.000000
2884    1.500000
2885    0.000000
2886    0.000000

[2887 rows x 38 columns],               G_ID   GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM
0    20200505HHSK0  20200505        HH       SK          0     화      문학
1    20200505LTKT0  20200505        LT       KT          0     화      수원
2    20200505NCSS0  20200505        NC       SS          0     화      대구
3    20200505OBLG0  20200505        OB       LG          0     화      잠실
4    20200505WOHT0  20200505        WO       HT          0     화      광주
..             ...       ...       ...      ...        ...   ...     ...
315  20200719HHLG0  20200719        HH       LG          0     일      잠실
316  20200719KTNC0  20200719        KT       NC          0     일      창원
317  20200719LTSS0  20200719        LT       SS          0     일      대구
318  20200719OBHT0  20200719        OB       HT          0     일      광주
319  20200719WOSK0  20200719        WO       SK          0     일      문학

[320 rows x 7 columns],         GDAY_DS T_ID   P_ID ENTRY_YN
0      20200505   HH  62797        N
1      20200505   HH  63464        N
2      20200505   HH  63700        Y
3      20200505   HH  63703        N
4      20200505   HH  63765        N
...         ...  ...    ...      ...
45555  20200719   LG  79140        Y
45556  20200719   LG  79150        Y
45557  20200719   LG  79192        N
45558  20200719   LG  79617        N
45559  20200719   LG  79825        Y

[45560 rows x 4 columns],      GYEAR  PCODE   NAME T_ID POSITION  AGE_VA     MONEY
0     2020  50030    소형준   KT        투      19    2700만원
1     2020  50036    이강준   KT        투      19    2700만원
2     2020  50040  데스파이네   KT        투      33  450000달러
3     2020  50054    천성호   KT        내      23    2700만원
4     2020  50066    강현우   KT        포      19    2700만원
..     ...    ...    ...  ...      ...     ...       ...
622   2020  79705    김회성   HH        내      35    6500만원
623   2020  79764    장민재   HH        투      30   11000만원
624   2020  79825    여건욱   LG        투      34    7000만원
625   2020  79847    김태훈   SK        투      30   24000만원
626   2020  99445    권오준   SS        투      40    8000만원

[627 rows x 7 columns],   T_ID T_NM
0   HH   한화
1   HT  KIA
2   KT   KT
3   LG   LG
4   LT   롯데
5   NC   NC
6   OB   두산
7   SK   SK
8   SS   삼성
9   WO   키움,               G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  PA  AB  RBI  RUN  \
0    20200505HHSK0  20200505   SK      HH          0     B  30  29    0    0
1    20200505HHSK0  20200505   HH      SK          0     T  35  31    3    3
2    20200505LTKT0  20200505   KT      LT          0     B  35  30    2    2
3    20200505LTKT0  20200505   LT      KT          0     T  37  32    7    7
4    20200505NCSS0  20200505   SS      NC          0     B  36  30    0    0
..             ...       ...  ...     ...        ...   ...  ..  ..  ...  ...
635  20200719LTSS0  20200719   LT      SS          0     T  31  29    2    2
636  20200719OBHT0  20200719   HT      OB          0     B  38  32    4    4
637  20200719OBHT0  20200719   OB      HT          0     T  41  37    8    8
638  20200719WOSK0  20200719   SK      WO          0     B  37  30    3    4
639  20200719WOSK0  20200719   WO      SK          0     T  37  33    3    3

     ...  BB  IB  HP  KK  GD  ERR  LOB  P_HRA_RT  P_AB_CN  P_HIT_CN
0    ...   1   0   0   2   0    0    3  0.000000        1         0
1    ...   2   0   0   5   1    0    5  0.250000        8         2
2    ...   5   0   0   8   1    0    6  0.000000        4         0
3    ...   4   0   0   9   1    1    3  0.666667        3         2
4    ...   6   0   0   8   0    0    9  0.000000        5         0
..   ...  ..  ..  ..  ..  ..  ...  ...       ...      ...       ...
635  ...   1   0   0   7   3    0    2  0.000000        2         0
636  ...   6   0   0   5   1    0    7  0.571429        7         4
637  ...   2   1   2   4   0    0    6  0.363636       11         4
638  ...   7   0   0  10   0    0    9  0.250000        8         2
639  ...   3   0   1   4   1    0    7  0.333333        3         1

[640 rows x 28 columns],               G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  CG_CK WLS  HOLD  \
0    20200505HHSK0  20200505   SK      HH          0     B      0   L     0
1    20200505HHSK0  20200505   HH      SK          0     T      1   W     0
2    20200505LTKT0  20200505   KT      LT          0     B      0   L     0
3    20200505LTKT0  20200505   LT      KT          0     T      0   W     0
4    20200505NCSS0  20200505   SS      NC          0     B      0   L     0
..             ...       ...  ...     ...        ...   ...    ...  ..   ...
635  20200719LTSS0  20200719   LT      SS          0     T      0   W     2
636  20200719OBHT0  20200719   HT      OB          0     B      0   L     0
637  20200719OBHT0  20200719   OB      HT          0     T      0   W     1
638  20200719WOSK0  20200719   SK      WO          0     B      0   W     0
639  20200719WOSK0  20200719   WO      SK          0     T      0   L     2

     INN2  ...  KK  GD  WP  BK  ERR  R  ER  P_WHIP_RT  P2_WHIP_RT  CB_WHIP_RT
0      27  ...   5   1   0   0    0  3   3   1.500000    1.200000    1.333333
1      27  ...   2   0   0   0    0  0   0   0.000000    0.000000    0.750000
2      27  ...   9   1   0   0    0  7   7   3.000000    1.285714    1.875000
3      27  ...   8   1   0   0    0  2   2   0.000000    1.000000    2.571429
4      27  ...   9   0   0   0    0  4   4   1.500000    1.058824    2.142857
..    ...  ...  ..  ..  ..  ..  ... ..  ..        ...         ...         ...
635    27  ...   9   1   0   0    0  1   1   0.600000    1.111111    1.500000
636    27  ...   4   0   0   0    0  8   8   2.142857    1.800000    0.750000
637    27  ...   5   1   0   0    0  4   4   3.000000    1.000000    1.875000
638    27  ...   4   1   0   0    0  3   3   1.500000    1.105263    2.142857
639    24  ...  10   0   2   0    0  4   4   1.800000    1.312500    1.333333

[640 rows x 34 columns]]
팀투수 데이터:
 [               G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  CG_CK WLS  HOLD  \
0     20160401HHLG0  20160401   LG      HH          0     B      0   W     0
1     20160401HHLG0  20160401   HH      LG          0     T      0   L     0
2     20160401HTNC0  20160401   NC      HT          0     B      0   W     0
3     20160401HTNC0  20160401   HT      NC          0     T      0   L     0
4     20160401KTSK0  20160401   SK      KT          0     B      0   L     0
...             ...       ...  ...     ...        ...   ...    ...  ..   ...
1435  20161008SSSK0  20161008   SS      SK          0     T      0   L     0
1436  20161009KTNC0  20161009   NC      KT          0     B      0   L     0
1437  20161009KTNC0  20161009   KT      NC          0     T      0   W     1
1438  20161009WOLT0  20161009   LT      WO          0     B      0   W     1
1439  20161009WOLT0  20161009   WO      LT          0     T      0   L     0

      INN2  ...  KK  GD  WP  BK  ERR  R  ER  P_WHIP_RT  P2_WHIP_RT  CB_WHIP_RT
0       36  ...  10   1   0   0    0  4   4   0.642857    1.285714    2.400000
1       34  ...  11   0   1   0    0  5   4   1.500000    1.000000    0.750000
2       27  ...  10   1   2   0    0  4   4   1.333333    1.038462    2.142857
3       24  ...   9   1   0   0    0  5   5   0.500000    1.695652    1.875000
4       27  ...   7   0   0   0    0  8   8   1.000000    2.357143    2.250000
...    ...  ...  ..  ..  ..  ..  ... ..  ..        ...         ...         ...
1435    24  ...   9   1   0   0    0  7   6   1.500000    2.538462    1.666667
1436    27  ...   7   0   2   1    0  7   7   0.900000    2.217391    1.500000
1437    27  ...  13   0   0   0    1  4   3   0.562500    1.428571    1.090909
1438    27  ...   6   1   1   0    0  5   5   1.500000    1.500000    1.000000
1439    24  ...   4   2   1   0    0  8   4   2.250000    1.666667    3.000000

[1440 rows x 34 columns],                G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  CG_CK WLS  HOLD  \
0     20170331HHOB0  20170331   OB      HH          0     B      0   W     0
1     20170331HHOB0  20170331   HH      OB          0     T      0   L     0
2     20170331HTSS0  20170331   SS      HT          0     B      0   L     0
3     20170331HTSS0  20170331   HT      SS          0     T      0   W     0
4     20170331KTSK0  20170331   SK      KT          0     B      0   L     0
...             ...       ...  ...     ...        ...   ...    ...  ..   ...
1435  20171003NCHH0  20171003   NC      HH          0     T      0   D     0
1436  20171003SKOB0  20171003   OB      SK          0     B      0   L     1
1437  20171003SKOB0  20171003   SK      OB          0     T      0   W     2
1438  20171003WOSS0  20171003   SS      WO          0     B      0   W     0
1439  20171003WOSS0  20171003   WO      SS          0     T      0   L     0

      INN2  ...  KK  GD  WP  BK  ERR   R  ER  P_WHIP_RT  P2_WHIP_RT  \
0       27  ...   8   0   1   0    0   0   0   0.600000    0.857143
1       24  ...   8   0   0   0    0   3   1   0.600000    0.450000
2       27  ...   5   0   1   0    0   7   6   2.000000    1.363636
3       27  ...   7   1   1   0    0   2   2   0.000000    0.857143
4       27  ...   8   1   0   0    1   3   2   1.200000    1.222222
...    ...  ...  ..  ..  ..  ..  ...  ..  ..        ...         ...
1435    36  ...   6   0   1   0    0   8   7   2.000000    1.031250
1436    27  ...   8   0   0   0    0   3   2   1.500000    1.222222
1437    27  ...   5   1   0   0    0   2   2   1.200000    1.000000
1438    27  ...  12   1   1   0    0   9   8   1.666667    2.000000
1439    24  ...   5   0   0   0    0  10   6   2.571429    2.538462

      CB_WHIP_RT
0       1.200000
1       0.272727
2       3.428571
3       1.333333
4       0.818182
...          ...
1435    3.000000
1436    1.500000
1437    0.600000
1438    4.500000
1439    2.000000

[1440 rows x 34 columns],                G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  CG_CK WLS  HOLD  \
0     20180324HHWO0  20180324   WO      HH          0     B      0   W     2
1     20180324HHWO0  20180324   HH      WO          0     T      0   L     0
2     20180324KTHT0  20180324   HT      KT          0     B      0   L     0
3     20180324KTHT0  20180324   KT      HT          0     T      0   W     2
4     20180324LGNC0  20180324   NC      LG          0     B      0   W     2
...             ...       ...  ...     ...        ...   ...    ...  ..   ...
1435  20181013NCHH0  20181013   NC      HH          0     T      0   L     0
1436  20181013WOSS0  20181013   SS      WO          0     B      0   W     0
1437  20181013WOSS0  20181013   WO      SS          0     T      0   L     0
1438  20181014OBLT0  20181014   LT      OB          0     B      0   L     1
1439  20181014OBLT0  20181014   OB      LT          0     T      0   W     1

      INN2  ...  KK  GD  WP  BK  ERR   R  ER  P_WHIP_RT  P2_WHIP_RT  \
0       27  ...   9   0   0   0    1   3   2   1.090909    1.600000
1       24  ...  10   0   2   0    0   6   5   1.750000    3.000000
2       27  ...   9   0   0   0    0   5   5   2.000000    1.333333
3       27  ...   8   0   0   0    0   4   4   1.200000    1.555556
4       27  ...   9   1   0   0    0   2   2   0.000000    0.777778
...    ...  ...  ..  ..  ..  ..  ...  ..  ..        ...         ...
1435    24  ...   4   1   1   0    0  10  10   6.000000    2.250000
1436    27  ...   6   1   0   0    0   5   5   3.000000    0.500000
1437    24  ...   8   1   0   0    1  12  10   2.000000   15.000000
1438    27  ...   2   1   1   0    0   5   5   2.250000    0.954545
1439    27  ...   4   3   0   0    0   1   1   1.000000    1.285714

      CB_WHIP_RT
0       2.250000
1       2.250000
2       1.500000
3       2.625000
4       1.333333
...          ...
1435    1.200000
1436    3.000000
1437    2.625000
1438    1.000000
1439    0.900000

[1440 rows x 34 columns],                G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  CG_CK WLS  HOLD  \
0     20190323HHOB0  20190323   OB      HH          0     B      0   W     1
1     20190323HHOB0  20190323   HH      OB          0     T      0   L     0
2     20190323KTSK0  20190323   SK      KT          0     B      0   W     1
3     20190323KTSK0  20190323   KT      SK          0     T      0   L     0
4     20190323LGHT0  20190323   HT      LG          0     B      0   L     0
...             ...       ...  ...     ...        ...   ...    ...  ..   ...
1435  20190930SKHH0  20190930   SK      HH          0     T      0   W     1
1436  20191001NCOB0  20191001   OB      NC          0     B      0   W     0
1437  20191001NCOB0  20191001   NC      OB          0     T      0   L     4
1438  20191001WOLT0  20191001   LT      WO          0     B      0   L     0
1439  20191001WOLT0  20191001   WO      LT          0     T      0   W     5

      INN2  ...  KK  GD  WP  BK  ERR  R  ER  P_WHIP_RT  P2_WHIP_RT  CB_WHIP_RT
0       27  ...   7   2   1   0    0  4   4   1.200000    1.888889    3.857143
1       24  ...   3   1   1   0    0  5   5   3.000000    1.375000    3.000000
2       27  ...  10   1   0   0    0  4   4   0.666667    1.375000    0.818182
3       24  ...   5   1   0   0    0  7   6   2.000000    1.826087    1.500000
4       27  ...  12   3   0   0    0  2   2   0.500000    1.222222    0.600000
...    ...  ...  ..  ..  ..  ..  ... ..  ..        ...         ...         ...
1435    27  ...   5   2   1   0    0  2   2   0.000000    1.000000    0.600000
1436    27  ...   7   1   2   0    0  5   5   1.250000    2.192308    2.000000
1437    25  ...   6   0   0   0    2  6   5   1.363636    1.695652    1.500000
1438    27  ...   9   1   2   0    0  3   1   1.333333    1.222222    0.545455
1439    27  ...   8   0   0   0    0  1   1   0.600000    1.111111    1.500000

[1440 rows x 34 columns],               G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  CG_CK WLS  HOLD  \
0    20200505HHSK0  20200505   SK      HH          0     B      0   L     0
1    20200505HHSK0  20200505   HH      SK          0     T      1   W     0
2    20200505LTKT0  20200505   KT      LT          0     B      0   L     0
3    20200505LTKT0  20200505   LT      KT          0     T      0   W     0
4    20200505NCSS0  20200505   SS      NC          0     B      0   L     0
..             ...       ...  ...     ...        ...   ...    ...  ..   ...
635  20200719LTSS0  20200719   LT      SS          0     T      0   W     2
636  20200719OBHT0  20200719   HT      OB          0     B      0   L     0
637  20200719OBHT0  20200719   OB      HT          0     T      0   W     1
638  20200719WOSK0  20200719   SK      WO          0     B      0   W     0
639  20200719WOSK0  20200719   WO      SK          0     T      0   L     2

     INN2  ...  KK  GD  WP  BK  ERR  R  ER  P_WHIP_RT  P2_WHIP_RT  CB_WHIP_RT
0      27  ...   5   1   0   0    0  3   3   1.500000    1.200000    1.333333
1      27  ...   2   0   0   0    0  0   0   0.000000    0.000000    0.750000
2      27  ...   9   1   0   0    0  7   7   3.000000    1.285714    1.875000
3      27  ...   8   1   0   0    0  2   2   0.000000    1.000000    2.571429
4      27  ...   9   0   0   0    0  4   4   1.500000    1.058824    2.142857
..    ...  ...  ..  ..  ..  ..  ... ..  ..        ...         ...         ...
635    27  ...   9   1   0   0    0  1   1   0.600000    1.111111    1.500000
636    27  ...   4   0   0   0    0  8   8   2.142857    1.800000    0.750000
637    27  ...   5   1   0   0    0  4   4   3.000000    1.000000    1.875000
638    27  ...   4   1   0   0    0  3   3   1.500000    1.105263    2.142857
639    24  ...  10   0   2   0    0  4   4   1.800000    1.312500    1.333333

[640 rows x 34 columns]]

In [5]:
#2020년 개인타자 data 뽑고 싶으면
data_2020[0] 
#또는
data_single_hitter[-1]

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,BAT_ORDER_NO,PA,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,20200505HHSK0,20200505,HH,SK,0,T,61208,1,7,4,...,0,0,0,0,0,0,0,0.0,1,0
1,20200505HHSK0,20200505,SK,HH,0,B,61353,1,2,4,...,0,0,0,0,0,0,1,0.0,0,0
2,20200505HHSK0,20200505,HH,SK,0,T,62700,1,9,3,...,0,0,0,1,1,0,1,0.5,2,1
3,20200505HHSK0,20200505,SK,HH,0,B,62895,1,5,3,...,0,0,0,1,0,0,0,0.0,1,0
4,20200505HHSK0,20200505,SK,HH,0,B,63450,1,9,2,...,0,0,0,1,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8055,20200719WOSK0,20200719,SK,WO,0,B,75847,1,3,4,...,0,0,0,1,0,0,1,0.0,1,0
8056,20200719WOSK0,20200719,SK,WO,0,B,76802,1,9,4,...,1,0,0,0,0,0,4,1.0,1,1
8057,20200719WOSK0,20200719,SK,WO,0,B,77463,0,6,1,...,1,0,0,0,0,0,0,0.0,0,0
8058,20200719WOSK0,20200719,WO,SK,0,T,78168,1,1,5,...,0,0,0,0,1,0,0,0.0,1,0
8059,20200719WOSK0,20200719,WO,SK,0,T,79456,1,6,4,...,0,0,0,0,0,0,0,0.0,0,0