In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings(action='ignore')

원래데이터 칼럼들

['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'CG_CK','WLS', 'HOLD', 'INN2', 'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB','CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R','ER', 'P_WHIP_RT', 'P2_WHIP_RT', 'CB_WHIP_RT']

# 크롤링한 팀투수 데이터 클리닝

In [2]:
data = 'C:/Users/KimMinyoung/Desktop/팀투수데이터.xlsx'
df = pd.read_excel(data)
temp = df.dropna()

In [3]:
new_df = temp[['날짜','팀명','상대팀','더블헤더','초말','완투','팀승','팀무','팀패','홀드','이닝','안타','2루타','3루타','홈런','도루','도실','볼넷','고4','HBP', '삼진','폭투','보크','실점','자책']]
new_df['WLS'] = np.where(new_df['팀무']==1, 'D', (np.where(new_df['팀승']==1,'W','L')));
new_df['INN2'] = new_df['이닝']*3
new_df['초말'] = np.where(new_df['초말']=='초','T','B');
new_df = new_df[['날짜','팀명','상대팀','더블헤더','초말','완투','WLS','홀드','INN2','안타','2루타','3루타','홈런','도루','도실','볼넷','고4','HBP', '삼진','폭투','보크','실점','자책']]
new_name= ['GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'CG_CK','WLS','HOLD','INN2','HIT','H2','H3','HR','SB','CS','BB','IB','HBP','KK','WP','BK','R','ER']
new_df.columns = new_name
def set_values(row, value):
    return value[row]
map_dictionary ={"LG":"LG","SK":"SK","NC":"NC","KT":"KT",'롯데' : "LT", "KIA" :"HT", "삼성": "SS","한화":"HH","Hero":"WO","HERO":"WO","두산":'OB'} 
   
new_df['T_ID'] = new_df['T_ID'].map(map_dictionary)
new_df['VS_T_ID'] = new_df['VS_T_ID'].map(map_dictionary)
new_name= ['GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'CG_CK','WLS','HOLD','INN2','HIT','H2','H3','HR','SB','CS','BB','IB','HP','KK','WP','BK','R','ER']
new_df.columns = new_name
new_df['BF'] = temp['투구수 ']
new_df['PA'] = temp['타자수']
new_df['G_ID'] = new_df['GDAY_DS'].astype(str)+new_df['T_ID'].astype(str)+new_df['VS_T_ID'].astype(str)+new_df['HEADER_NO'].astype(str)

In [4]:
new_df

,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,HIT,...,IB,HP,KK,WP,BK,R,ER,BF,PA,G_ID
0,20200801,KT,SK,0,B,0,W,0.0,27.0,6.0,...,0.0,0.0,5.0,0.0,0.0,0,0,135,34,20200801KTSK0
1,20200801,LT,HT,0,B,0,W,0.0,27.0,9.0,...,0.0,0.0,9.0,0.0,0.0,3,3,147,36,20200801LTHT0
2,20200801,LG,HH,0,B,0,W,1.0,27.0,8.0,...,0.0,1.0,8.0,2.0,0.0,6,6,167,40,20200801LGHH0
3,20200801,WO,SS,0,T,0,W,1.0,27.0,8.0,...,0.0,2.0,8.0,0.0,0.0,7,6,185,40,20200801WOSS0
4,20200801,OB,NC,0,T,0,W,1.0,30.0,15.0,...,0.0,0.0,8.0,0.0,0.0,10,9,189,51,20200801OBNC0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,20200731,LG,HH,0,B,0,L,0.0,27.0,10.0,...,0.0,0.0,4.0,0.0,0.0,2,2,137,37,20200731LGHH0
476,20200731,LT,HT,0,B,0,L,0.0,27.0,8.0,...,0.0,0.0,10.0,0.0,0.0,3,2,160,38,20200731LTHT0
477,20200731,SS,WO,0,B,0,L,0.0,27.0,10.0,...,0.0,0.0,7.0,1.0,0.0,10,10,157,42,20200731SSWO0
478,20200731,OB,NC,0,T,0,L,1.0,24.0,14.0,...,0.0,2.0,7.0,0.0,0.0,10,10,184,42,20200731OBNC0
479,20200731,SK,KT,0,T,0,L,0.0,24.0,16.0,...,0.0,0.0,8.0,0.0,0.0,11,11,175,42,20200731SKKT0

In [5]:
hitter = 'team hitter.csv'
hitter = pd.read_csv(hitter)

In [6]:
def set_values(row, value):
    return value[row]
map_dictionary ={"LG":"LG","SK":"SK","NC":"NC","KT":"KT",'롯데' : "LT", "KIA" :"HT", "삼성": "SS","한화":"HH","Hero":"WO","키움":"WO","HERO":"WO","두산":'OB'} 
   
new_hitter = hitter.copy()
new_hitter['T_ID'] = hitter['T_ID'].map(map_dictionary)
new_hitter['VS_T_ID'] = new_hitter['VS_T_ID'].map(map_dictionary)

# 필요한 데이터 타자에서 가져와서 concat

In [7]:
new_hitter = new_hitter[['G_DAY_DS','T_ID','VS_T_ID','GD','AB','ERR','SH','SF','HEADER_NO']]

### 팀타자 데이터를 가져오는데에 필요한 변수 결측값 발견 -> 해결

In [8]:
new_hitter[new_hitter[new_hitter.columns[2]].isnull()==True].index

Int64Index([38, 330, 331, 332, 334, 347, 351, 367, 373], dtype='int64')

In [9]:
new_hitter.iloc[[38, 330, 331, 332, 334, 347, 351, 367, 373],:]

       G_DAY_DS T_ID VS_T_ID  GD  AB  ERR  SH  SF  HEADER_NO
38   2020-07-27   SK     NaN   3  32    3   1   0          0
330  2020-09-04   KT     NaN   1  68    1   1   1          0
331  2020-09-04   LT     NaN   5  63    5   2   2          0
332  2020-09-04   HT     NaN   2  71    2   2   0          0
334  2020-09-04   SK     NaN   0  66    0   2   1          0
347  2020-09-06   SS     NaN   0  34    0   0   0          0
351  2020-09-06   NC     NaN   1  31    1   0   0          0
367  2020-09-09   HH     NaN   2  75    2   1   0          0
373  2020-09-09   SS     NaN   0  62    0   1   0          0

In [10]:
new_hitter.iloc[38,2]='HH'
new_hitter.iloc[330,2]='SK'
new_hitter.iloc[331,2]='HT'
new_hitter.iloc[332,2]='LT'
new_hitter.iloc[334,2]='KT'
new_hitter.iloc[347,2]='NC'
new_hitter.iloc[351,2]='SS'
new_hitter.iloc[367,2]='HT'
new_hitter.iloc[373,2]='SS'

In [11]:
new_hitter.iloc[[38, 330, 331, 332, 334, 347, 351, 367, 373],:]

       G_DAY_DS T_ID VS_T_ID  GD  AB  ERR  SH  SF  HEADER_NO
38   2020-07-27   SK      HH   3  32    3   1   0          0
330  2020-09-04   KT      SK   1  68    1   1   1          0
331  2020-09-04   LT      HT   5  63    5   2   2          0
332  2020-09-04   HT      LT   2  71    2   2   0          0
334  2020-09-04   SK      KT   0  66    0   2   1          0
347  2020-09-06   SS      NC   0  34    0   0   0          0
351  2020-09-06   NC      SS   1  31    1   0   0          0
367  2020-09-09   HH      HT   2  75    2   1   0          0
373  2020-09-09   SS      SS   0  62    0   1   0          0

In [12]:
new_df['GDAY_DS']=new_df['GDAY_DS'].astype(str)
new_hitter['G_DAY_DS']=new_hitter['G_DAY_DS'].astype(str).str.replace("-","")

In [13]:
new_df.sort_values(by=["GDAY_DS"], ascending=[True],ignore_index=True, inplace=True)

In [14]:
new_df

,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,HIT,...,IB,HP,KK,WP,BK,R,ER,BF,PA,G_ID
0,20200721,LG,KT,0,T,0,L,0.0,24.0,12.0,...,0.0,0.0,7.0,1.0,1.0,10,10,150,39,20200721LGKT0
1,20200721,HH,HT,0,B,0,L,0.0,27.0,16.0,...,0.0,1.0,8.0,2.0,0.0,10,9,222,50,20200721HHHT0
2,20200721,LT,SK,0,T,0,L,2.0,24.3,13.0,...,0.0,0.0,6.0,0.0,0.0,8,8,166,40,20200721LTSK0
3,20200721,WO,OB,0,T,0,L,0.0,24.0,7.0,...,0.0,0.0,6.0,0.0,0.0,6,6,121,32,20200721WOOB0
4,20200721,SS,NC,0,T,0,L,0.0,27.3,13.0,...,1.0,1.0,7.0,0.0,0.0,6,6,162,42,20200721SSNC0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,20200922,LG,SK,0,B,0,W,1.0,27.0,3.0,...,0.0,0.0,9.0,0.0,0.0,2,2,141,32,20200922LGSK0
475,20200922,HH,OB,0,B,0,W,2.0,27.0,6.0,...,0.0,1.0,5.0,0.0,0.0,1,1,125,33,20200922HHOB0
476,20200922,WO,HT,0,T,0,W,1.0,27.0,4.0,...,0.0,0.0,8.0,0.0,0.0,0,0,131,33,20200922WOHT0
477,20200922,NC,SS,0,B,0,W,0.0,27.0,6.0,...,0.0,0.0,11.0,1.0,0.0,2,2,146,34,20200922NCSS0
478,20200922,KT,LT,0,T,0,L,0.0,24.0,10.0,...,2.0,0.0,5.0,0.0,0.0,8,8,130,36,20200922KTLT0

In [15]:
new_hitter

     G_DAY_DS T_ID VS_T_ID  GD  AB  ERR  SH  SF  HEADER_NO
0    20200721   HT      HH   2  41    2   0   0          0
1    20200721   SK      LT   1  34    1   2   1          0
2    20200721   KT      LG   1  34    1   1   0          0
3    20200721   NC      SS   0  38    0   1   0          0
4    20200721   OB      WO   0  31    0   0   0          0
..        ...  ...     ...  ..  ..  ...  ..  ..        ...
467  20200920   WO      SS   3  37    3   0   0          0
468  20200920   LT      NC   2  36    2   0   0          0
469  20200920   HT      HH   1  33    1   1   1          0
470  20200920   LG      OB   0  37    0   0   0          0
471  20200920   SK      KT   3  28    3   0   0          0

[472 rows x 9 columns]

In [16]:
new_hitter['temp_vs_G_ID'] = new_hitter['G_DAY_DS'].astype(str)+new_hitter['VS_T_ID'].astype(str)+new_hitter['T_ID'].astype(str)+new_hitter['HEADER_NO'].astype(str)

In [17]:
pitcher = pd.merge(new_df,new_hitter,left_index=False,left_on = 'G_ID',right_on = 'temp_vs_G_ID'); pitcher

,GDAY_DS,T_ID_x,VS_T_ID_x,HEADER_NO_x,TB_SC,CG_CK,WLS,HOLD,INN2,HIT,...,G_DAY_DS,T_ID_y,VS_T_ID_y,GD,AB,ERR,SH,SF,HEADER_NO_y,temp_vs_G_ID
0,20200721,LG,KT,0,T,0,L,0.0,24.0,12.0,...,20200721,KT,LG,1,34,1,1,0,0,20200721LGKT0
1,20200721,HH,HT,0,B,0,L,0.0,27.0,16.0,...,20200721,HT,HH,2,41,2,0,0,0,20200721HHHT0
2,20200721,LT,SK,0,T,0,L,2.0,24.3,13.0,...,20200721,SK,LT,1,34,1,2,1,0,20200721LTSK0
3,20200721,WO,OB,0,T,0,L,0.0,24.0,7.0,...,20200721,OB,WO,0,31,0,0,0,0,20200721WOOB0
4,20200721,SS,NC,0,T,0,L,0.0,27.3,13.0,...,20200721,NC,SS,0,38,0,1,0,0,20200721SSNC0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,20200920,SS,WO,0,T,0,W,0.0,27.0,13.0,...,20200920,WO,SS,3,37,3,0,0,0,20200920SSWO0
453,20200920,SK,KT,0,B,0,L,0.0,27.0,11.0,...,20200920,KT,SK,0,37,0,1,1,0,20200920SKKT0
454,20200920,LG,OB,0,T,0,L,1.0,24.6,9.0,...,20200920,OB,LG,3,31,3,0,0,0,20200920LGOB0
455,20200920,WO,SS,0,T,0,L,0.0,24.0,18.0,...,20200920,SS,WO,1,42,1,1,0,0,20200920WOSS0
456,20200920,HT,HH,0,B,0,L,0.0,27.0,16.0,...,20200920,HH,HT,0,40,0,2,1,0,20200920HTHH0

-> 상대팀 기준으로 필요한 변수가 잘 들어감!

In [20]:
pitcher = pitcher[['G_ID', 'GDAY_DS', 'T_ID_x', 'VS_T_ID_x', 'HEADER_NO_x', 'TB_SC', 'CG_CK','WLS', 'HOLD', 'INN2', 'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB','CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R','ER']]

In [23]:
new_name= ['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'CG_CK','WLS', 'HOLD', 'INN2', 'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB','CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R','ER']
pitcher.columns = new_name

In [24]:
pitcher

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,BB,IB,HP,KK,GD,WP,BK,ERR,R,ER
0,20200721LGKT0,20200721,LG,KT,0,T,0,L,0.0,24.0,...,4.0,0.0,0.0,7.0,1,1.0,1.0,1,10,10
1,20200721HHHT0,20200721,HH,HT,0,B,0,L,0.0,27.0,...,8.0,0.0,1.0,8.0,2,2.0,0.0,2,10,9
2,20200721LTSK0,20200721,LT,SK,0,T,0,L,2.0,24.3,...,4.0,0.0,0.0,6.0,1,0.0,0.0,1,8,8
3,20200721WOOB0,20200721,WO,OB,0,T,0,L,0.0,24.0,...,1.0,0.0,0.0,6.0,0,0.0,0.0,0,6,6
4,20200721SSNC0,20200721,SS,NC,0,T,0,L,0.0,27.3,...,2.0,1.0,1.0,7.0,0,0.0,0.0,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,20200920SSWO0,20200920,SS,WO,0,T,0,W,0.0,27.0,...,4.0,0.0,0.0,7.0,3,0.0,0.0,3,6,6
453,20200920SKKT0,20200920,SK,KT,0,B,0,L,0.0,27.0,...,4.0,0.0,1.0,10.0,0,1.0,0.0,0,10,6
454,20200920LGOB0,20200920,LG,OB,0,T,0,L,1.0,24.6,...,12.0,0.0,2.0,6.0,3,3.0,0.0,3,6,6
455,20200920WOSS0,20200920,WO,SS,0,T,0,L,0.0,24.0,...,5.0,0.0,0.0,6.0,1,1.0,0.0,1,14,9
456,20200920HTHH0,20200920,HT,HH,0,B,0,L,0.0,27.0,...,6.0,0.0,2.0,10.0,0,2.0,0.0,0,11,11

# 완성!!!

In [26]:
pitcher.to_csv("C:/Users/KimMinyoung/Desktop/팀투수_complete.csv",index=False)